<div class="card-category col-12" style="background-color: black">
  <div class="col-6" style="text-align: center">
    <h1>Create a <strong> new </strong> bookmark</h1>
  </div>

  <div class="col-6">
    <%= simple_form_for [@list, @bookmark] do |f| %>
      <%= f.input :comment %>
      <%= f.association :movie, prompt: "Choose a Movie"%>
      <div class="center-submit">
        <%= f.submit class: "btn btn-primary" %>
      </div>
    <% end %>
  </div>
</div>
<br>
<div class="nav-centered">
  <%= link_to "Back", list_path(@list), class: "btn btn-flat" %>
</div>
<div class="footer mt-3">
  <div class="footer-links">
    <a href="#"><i class="fab fa-github"></i></a>
    <a href="#"><i class="fab fa-instagram"></i></a>
    <a href="#"><i class="fab fa-facebook"></i></a>
    <a href="#"><i class="fab fa-twitter"></i></a>
    <a href="#"><i class="fab fa-linkedin"></i></a>
  </div>
  <div class="footer-copyright">
    This footer is made with <i class="fas fa-heart"></i> at Le Wagon
  </div>
</div>
